Running the tests
=================

If you want to run the tests locally, you will need to:


- Setup docker on your system if not done already (*cf.* docker's
  documentation [#docker]_)
- Put yourself inside the root directory of this project, that is
  the parent directory of the on containing this file::

    $ cd path/to/{{ role_name }}

- Create a new virtualenv [#venv]_ for this project::

    $ pymajor="$(python --version 2>&1 | cut -f 2 -d \  | head -c 1)"
    $ module="$([ '2' = "${pymajor}" ] && echo 'virtualenv' || echo 'venv')"
    $ python -m "${module}" ansible-role-testing

  Or, if you use virtualenvwrappers::

    $ mkvirtualenv -a . -r tests/requirements.txt ansible-role-testing

- Install the Python requirements (*cf.* the requirements.txt file)
  from PyPI (not needed if you use ``mkvirtualenv`` as shown above)::

    $ pip install -r requirements.txt

- Install the roles required by the test-runner playbook (local.yml)::

    $ ansible-galaxy install -r tests/requirements.yml -p tests/roles

- Run the tests::

    $ ansible-playbook tests/local.yml


The test suite itself is in the ``tests/test.yml`` playbook. The
``tests/local.yml`` playbook is just here to bootstrap a docker container
in which the tests will be run. That way you don't risk messing with
your machine's configuration while testing this role. You'll just mess
the docker container instance.


{# vim: et:sw=4:syntax=rst:ts=4:
 Leave the end tag on a separate line to not confuse vim.
 #}
